body {
  margin: 0;
  padding: 0;
}
.header {
  height: 124vh;
  background: linear-gradient(
      to bottom right,
      rgba(28, 54, 51, 0.7),
      rgba(28, 54, 51, 0.7)
    ),
    url("https://htmlrev.com/preview/silk/images/header-background.jpg") center
      center no-repeat;
}
.nav:hover {
  border-bottom: 3px solid white;
}

.logoimg {
  color: white;
  width: 180px;
  margin-top: 21px;
  margin-left: 15px;
}
.head {
  font-size: 6rem;
  color: white;
  width: 85%;
}

@media only screen and (max-width: 763px) {
  .navlist {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
  }
  .logoimg_div {
    margin: 20px;
  }
  .head {
    font-size: 2.8rem;
    width: 70%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}
.services_div {
  font: 400 1rem/1.625rem "Poppins", sans-serif;
}

.heading {
  margin-top: 14%;
  font-size: 2rem;
}
.rounded-pill {
  color: white;
  background-color: #00000000;
  border: 4px solid white;
}
.rounded-pill:hover {
  background-color: white;
  color: black;
}
.second-heading {
  margin-top: 15rem;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  color: #667077;
  margin-bottom: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.fas {
  color: #25563f;
  font-size: 4.75rem;
}
.cards_div {
  margin-bottom: 14rem;
}
.selected_card {
  width: 20rem;
}

@media only screen and (max-width: 950px) {
  .cards_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selected_card {
    width: 80%;
  }
  .second-heading {
    width: 100%;
  }
}

.blog {
  padding: 9rem;
  padding-top: 15rem;
  background-color: #f9fbfe;
}
.blog_img {
  width: 100%;
}
.blog_img_div {
  width: 60%;
}
.blog_message {
  width: 40%;
  margin-left: 79px;
}
.para {
}
span {
  font-weight: 600;
}

@media (max-width: 1024px) {
  .blog_div {
    display: flex;
    flex-direction: column;
  }
  .blog_img_div {
    width: 100%;
    text-align: center;
  }
  .blog_message {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .blog_2 {
    flex-direction: column-reverse;
  }
  .blog_3 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 555px) {
  .blog_img {
    max-width: 100%;
  }
  .blog {
    padding: 1rem;
    padding-top: 15rem;
    background-color: #f9fbfe;
  }
}
.blog_number_2 {
  background-color: #3f465c;
  color: #c5c7ce;
  text-align: center;
}
.blog_number_3 {
  margin-bottom: 150px;
}
.sponser_img_ul {
  justify-content: center;
}
.sponser_img {
  width: 130%;
}

.sponer_img_li {
  margin: 30px 50px;
}
.sponser {
  margin-bottom: 100px;
}
.input {
  font-size: 1.5rem;
  border: 2px solid #d7d8e1;
  border-radius: 10px;
  width: 60%;
}
.contect_div {
  background-color: #f9fbfe;
  padding-top: 150px;
  padding-bottom: 100px;
}
.submit_button {
  padding: 20px 0;
  font-size: 1.5rem;
  border-radius: 60px;
  background-color: #25563f;
  color: white;
  border: 2px solid #25563f;
  width: 60%;
  font-weight: 500;
}
.submit_button:hover {
  background-color: #f9fbfe;
  color: #25563f;
}

.footer_div {
  display: flex;
  justify-content: space-around;
  background-color: #252936;
  color: white;
  padding: 100px 0;
}
.img_div {
  font-size: 1.7rem;
}

.menu_div {
  font-size: 1.3rem;
  line-height: 3rem;
}
.social {
  font-size: 3rem;
  display: flex;
  gap: 50px;
}

@media (max-width: 870px) {
  .footer_div {
    flex-direction: column;
    align-items: center;
  }
}
